:root{
  --bg-color: rgba(20,20,20,0.8);
  --bg-hov: rgba(10,10,10,0.8);
  --bg-act: rgba(0,0,0,0.8);
  --head-bg: rgba(20,20,20, 0.8);
  --shadow-clr: rgb(0,0,0);
}

*{
  font-family: arial;
  color: white;
  transition: background 0.25s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-act);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-hov);
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(51, 51, 51);
  position: relative;
}

#map{
  width: 100%;
  height: 100%;
}

#loading{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 300%;
}

#heading{
  color:white;
  font-weight: normal;
  border-radius: 10px;
  margin: 30px 15px;
  padding: 16px;
  width: calc(100% - 30px);
  text-align: center;
  transition: 0.1s opacity;
  opacity: 1;
  user-select: none;
  box-sizing: border-box;
  background-color: var(--head-bg);
}

#heading:hover{
  opacity: 0;
}

button{

  /* box-shadow: 0 0 20px 5px var(--shadow-clr); */
}

button{
  border: 0;
  border-radius: 20px;
  padding: 10px;
  outline: 0;
  cursor: pointer;
}

button:hover{
  background-color: var(--bg-hov);
}

button:active{
  background-color: var(--bg-act);
}

button > *{
  vertical-align: middle;
}

button > span.material-icons{
  vertical-align: bottom;
}

#heading, #search{
  background-color: var(--bg-color);
  position: absolute;
  z-index: 9997 !important;
}

#search{
  bottom: 10%;
  right: 40px;
}

#search.searching{
  max-height: calc(100% - 80px);
  min-width: 220px;
  max-width: 25%;
  /* border-top-right-radius:0px;
  border-bottom-right-radius:0px; */
  background-color: var(--bg-act);
}

#result-container{
  display: none;
}

#search.searching #result-container{
  max-height: 70vh;
  overflow-y: scroll;
}

#search-input{
  display: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  font-size: 18px;
  height: 20px;
  border-bottom: 2px solid white;
}

#search-close{
  display: none;
}

#search-text{
  font-size: 20px;
  vertical-align: middle;
}

#search-icon{
  font-size: 22px;
}

#search #bottom-search{
  display: inline-block;
  /* bottom: 0;
  position: sticky;
  background-color: var(--bg-act);
  display:inline-block; */
}

#search.searching #bottom-search{
  display:block !important;
}


.search-result{
  padding: 10px;
  font-size: 16px;
  text-align: left;
  display: block;
}

.search-result:hover{
  background-color: var(--bg-color);
}

.search-result:active{
  background-color: var(--bg-hov);
}

.search-result.hidden{
  display: none;
}

.mapboxgl-popup{
  max-width: 500px !important;
}

.mapboxgl-popup-content{
  background-color: var(--bg-color) !important;
  color:white;
  font-size: 18px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color: var(--bg-color) !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: var(--bg-color) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
  border-left-color: var(--bg-color) !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
  border-right-color: var(--bg-color) !important;
}
#help-btn{
  position: absolute;
  bottom: 8%;
  left: 20px;
  z-index: 9999;
  border:none;
  background-color: var(--bg-color);
  border-radius: 100px;
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
}
/* #help-btn > span {
  width: 40px;
  height: 40px;
} */
#modal-help{
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: transparent;
  position: fixed;
  display:block;
}
.modal-container{
  width: 80%;
  width: 60%;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding:10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}
.modal-header{
  display: flex;
  margin:0;
  padding:5px;
}
#icon-close{
  cursor:pointer;
}
.modal-header > h1 {
  margin:0;
}
.flex{
  flex-grow: 1;
}
.modal-body{
  max-height: 80%;
  overflow: auto;
}
.hidden{
  display: none;
}
.mapboxgl-popup-content > h4{
  margin: 20px 0;
}
.mapboxgl-popup-content > h5{
  margin:0;
  font-weight: normal;
}

.mapboxgl-popup-close-button{
  text-align: right;
  position: static;
}
/* .title-case{
  text-transform: lowercase;
}

.title-case:first-letter {
  text-transform: uppercase !important;
} */
