:root{
  --bg-color: rgba(20,20,20,0.8);
  --bg-hov: rgba(10,10,10,0.8);
  --bg-act: rgba(0,0,0,0.8);
  --head-bg: rgba(20,20,20, 0.8);
  --shadow-clr: rgb(0,0,0);
}

*{
  font-family: arial;
  color: white;
  transition: background 0.25s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-act);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-hov);
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map{
  width: 100%;
  height: 100%;
}

#heading{
  font-weight: normal;
  border-radius: 10px;
  margin: 30px 15px;
  padding: 16px;
  width: calc(100% - 30px);
  text-align: center;
  transition: 0.1s opacity;
  opacity: 1;
  user-select: none;
  box-sizing: border-box;
  background-color: var(--head-bg);
}

#heading:hover{
  opacity: 0;
}

h1, button{
  background-color: var(--bg-color);
  position: absolute;
  z-index: 9999;
  /* box-shadow: 0 0 20px 5px var(--shadow-clr); */
}

button{
  border: 0;
  border-radius: 20px;
  padding: 10px;
  outline: 0;
  cursor: pointer;
}

button:hover{
  background-color: var(--bg-hov);
}

button:active{
  background-color: var(--bg-act);
}

button > *{
  vertical-align: middle;
}

button > span.material-icons{
  vertical-align: bottom;
}

#search{
  bottom: 10%;
  right: 40px;
}

#search.searching{
  max-height: calc(100% - 80px);
  width: 300px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  background-color: var(--bg-act);
}

#result-container{
  display: none;
}

#search.searching #result-container{
  max-height: 70vh;
  overflow-y: scroll;
}

#search-input{
  display: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
}

#search-close{
  display: none;
}

#search-text{
  font-size: 20px;
  vertical-align: middle;
}

#search-icon{
  font-size: 22px;
}

#search #bottom-search{
  display: inline-block;
  /* bottom: 0;
  position: sticky;
  background-color: var(--bg-act);
  display:inline-block; */
}

#search.searching #bottom-search{
  display:block !important;
}


.search-result{
  padding: 5px;
  font-size: 16px;
  text-align: left;
  display: block;
}

.search-result{

}

.search-result.hidden{
  display: none;
}

.mapboxgl-popup{

}

.mapboxgl-popup-content{
  background-color: var(--bg-color) !important;
  color:white;
}
.mapboxgl-popup-tip{
  border-top-color: var(--bg-color) !important;
}

/* .title-case{
  text-transform: lowercase;
}

.title-case:first-letter {
  text-transform: uppercase !important;
} */
